.card-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    background-color: #597036;
}

#features{
    color: #062106;
    padding: 20px 0;
    text-align: center;
    background-color: #597036;
}