.nav-bar{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #062106 ;
    /* border-bottom: 1px solid white; */
}
.nav-logo img{
    width: 50px;
    height: 50px;
}
.links a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 10px;
}
.links a:hover{
    color: #7ab227;
}
.is-active{
    border-bottom: 1px solid white;
}