@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
:root {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: auto;
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 150ms;
}

body {
  margin: auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.5;
}




